.header {
  text-align: center;
  padding: 100px 0px 70px;
}

.header img {
  width: 238px;
  object-fit: contain;
}

.login-section {
  margin: 0 auto;
  width: 550px;
  height: 380px;
}

.btns-container {
  width: 184px;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  color: #333333;
}

.btns-container span {
  display: block;
  margin: 0 14px;
}
